.owner {
    text-decoration: none;
    color: #E55500;
}

.owner:hover {
    text-decoration: none;
    color: #E55500;
    font-size: 18px;
}

.Links:hover {
    text-decoration: none;
    color: #E55500 !important;
}